<app-navbar></app-navbar>

<!-- tire-details.component.html -->
<div class="container-fluid product-detail-container">
    <div class="row">
        <!-- Left Column: Image and Price -->
        <div class="col-lg-6">
            <div class="product-image">
                <!-- Image -->
                <img [src]="selectedTire.imagePath" class="img-fluid" alt="Tire Image">
            </div>
        </div>

        <!-- Right Column: Details -->
        <div class="col-lg-6">
            <div class="product-details">
                <!-- Tire Details -->
                <h2 class="product-name">{{ selectedTire.name }}</h2>
                <p class="product-brand">Brand: <span>{{ selectedTire.brand }}</span></p>
                <p class="product-size">Size: <span>{{ selectedTire.size }}</span></p>
                <p class="product-detail">Detail: <span>{{ selectedTire.detail }}</span></p>
                <p class="product-description">{{ selectedTire.description }}</p>
                <p class="product-price">Price: <span class="price-highlight">${{ selectedTire.price }}</span></p>
            </div>
        </div>
    </div>
</div>
