.image-container {
    position: relative;
    height: 300px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.centered-input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.btn-dark {
    background-color: black;
    border-color: black;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-item {
    color: orange;
}

.form-control {
    background-color: black;
    color: white;
    border-color: orange;
}

.btn-orange {
    background-color: orange;
    border-color: orange;
    color: black;
}

.btn-orange:hover {
    background-color: #ff8c00; /* Darker shade of orange on hover */
    border-color: #ff8c00;
}

.custom-input-group .dropdown-menu {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3); /* Increased shadow */
}

.grp-title-text {
    color: #FFA500; /* Orange color */
    font-weight: bold;
}

.custom-card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.custom-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.no-special-message {
    margin-top: 20px;
    color: #fff; /* White color */
}



