.container {
    display: flex;
}

.navbar-brand {
    margin-right: auto;
}

.logo-img {
    filter: brightness(0) invert(1);
}

.navbar {
    background-color: #343a40; /* Dark background color */
}

.navbar-brand .logo-img {
    filter: brightness(0) invert(1); /* Invert the logo color */
}

.navbar-toggler {
    border-color: #fff; /* White color for the toggler */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); /* White color for the toggler icon */
}

.nav-link {
    font-weight: bold;
    color: #fff !important; /* White color for nav links */
}

.nav-link:hover {
    color: #ffc107 !important; /* Yellow color on hover */
}
