<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container justify-content-center">
        <a class="navbar-brand" href="/home">
            <img src="assets/imgs/v02.png" alt="Your Logo" height="30" class="logo-img">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" (click)="getTiresByMenu('onSale')">On Special</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="getTiresByMenu('')">Tires</a>
                </li>
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="/winter">Winter</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" (click)="getTiresByMenu('winter')">Winter Tires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="getTiresByMenu('brands')" >Brands</a>
                </li>
            </ul>
        </div>
        <div style="float: right;">
        <a class="nav-link" (click)="logoutUser()">Logout</a>
        </div>
    </div>
</nav>
